@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    text-align: right;
}

section {
    width: 42em;
    margin: 0 auto;
    margin-top: 3em;
    /* margin-bottom: 5em; */
}

h2 {
    font-size: 1.3em;
    border-bottom:1px solid #BBB;
}

.zeropoint {
    z-index: 10;
}

.viewport {
    height: 500px;
    width:  800px;
    border: 1px solid #cc;
    text-align: center;
}

input {
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    padding: .5em .5em;
    display: inline-block;
    border: 2px solid #eee;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    min-width: 400px;
}

button, input[type="submit"] {
    border: 2px solid #eee;
    padding: .5em .5em;
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
}

fieldset {
    border: 0px;
}

form fieldset button, form fieldset input[type="submit"] {
    margin: 1.5em 0 0 11em;
}

label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 100%;
}

caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

td, th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 0.5em; /* cell padding */
}

td:first-child, th:first-child {
    border-left-width: 0;
}

thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

td {
    background-color: #f2f2f2;
}

tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

td {
    border-bottom: 1px solid #cbcbcb;
}

tbody > tr:last-child > td {
    border-bottom-width: 0;
}

li {
    list-style: none;
}

pre {
    display: inline;
}
